# ==========================================
# JADI REPAIZ - VARIABLES DE ENTORNO
# ==========================================

# Aplicación
NEXT_PUBLIC_APP_NAME=JADI_REPAIZ
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# Base de datos Google / Firestore
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# ImgBB
IMGBB_API_KEY=

# Gemini
GEMINI_API_KEY=

# Autenticación
AUTH_SECRET=

# WhatsApp
WHATSAPP_API_URL=
WHATSAPP_API_TOKEN=

# Correo electrónico
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM=